doctype html
html
    head
        style 
            //- include ../css/stylesheet.css
        title Hello Pug
        link(rel='stylesheet' href="/stylesheet.css" type='text/css')

    
body
p.greeting#people Hell is Here!
img(src="/1.jpg", alt="1")



//my comment here

div.container.column.main#division(width ="100px", height = "100px") hello?