html
head
title VetManager Page
link(rel='stylesheet' href="/stylesheet.css" type='text/css')
body
    div 
    h2.vetmanager(name='vetmanager') VetManager

    div
    h3.buttons(style ='border: 3px solid red' width ="20px", height = "20px")
       a.button.bt1#bt( href="/dashboard" ) Dashbord
       //-img(src="/3.png" height="35" type="button" href='//google.com' style="background-color:transparent; border-color:transparent")/ Dashbord
       a.button.bt2#bt( href="/calendar" ) Calendar
       a.button.bt3#bt( href="/client" ) Clients
       a.button.bt4#bt( href="/pets" ) Pets
       

    

