html
head
title Client

body
    form(action ="/client", method = 'POST')
        div
            label(for="name") Name:
            input(name="name")
        br


        div
            label(for="surname") Surname:
            input(name="surname")
        br


        div
            label(for="address") Address:
            input(name="address")
        br

        div
            label(for="city") City:
            input(name="city")
        br

        div
            label(for="zipCode") ZIP Code:
            input(name="zipCode")
        br

        div
            label(for="phone") Telephone:
            input(name="phone")
        br

        div
            label(for="email") Email:
            input(name="email")
        br

       


        
        button(type="submit") Save new client