html
head
    meta(name='viewport' content='device-width, initial-scale=1')
    style
    #myInput(background-image: url('/3.png')
                background-position: 10px 12px;
                background-repeat: no-repeat;
                width: 100%;
                font-size: 16px;
                padding: 12px 20px 40px;
                border: 1px solid #ddd;
                margin-bottom: 13px;)
    #myUL(list-style-type: none;
                padding: 0;
                margin: 0.1;)
    #myUL.li.a(border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-size: 18px;
                color: black;
                display: block)
body
    h2 my phonebook
    input(type="text" id='myInput' onkeyup='myFunction()' placeholder='Search name..' title='type name')

    